$font: Lato, Helvetica, Arial, sans-serif;

$font-color: #617179;
$border-color: #f3f5f6;
$text-background: rgba(255, 255, 255, 0.8);
$notify-background: rgba(0, 200, 0, 0.6);

body {
    background-color: #D7D7D7;
}

.dialogue-node {
    border: 3px solid black;
    padding: 5px;
    width: 125px;
    position:absolute;
//    cursor: move;
//    cursor: -webkit-grabbing;
//    cursor: -moz-grabbing;
}

#convo-editor {
    left: 500px;
    width: 500px;
    height: 500px;
    background-color: white;
}